[[collection]]
  name = "matuile"
    [[collection.layer]]
      name = "test_epci"
      table_name = "test_epci"
      columns = [ "id", "nom_epci"]

    [[collection.layer]]
      name = "random_points"
      table_name = "random_points"
        columns = [ "id"]


[[layers]]
  table_name = "test_epci"
  name = "test_epci"
  columns = [ "id", "nom_epci"]
