<html>
<head>
  <script src="https://cdn.maptiler.com/maplibre-gl-js/v1.13.0-rc.4/mapbox-gl.js"></script>
  <link href="https://cdn.maptiler.com/maplibre-gl-js/v1.13.0-rc.4/mapbox-gl.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  <style>
    #map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
  </style>

</head>



<body>
  <div id="map"></div>

<script>
    // You can remove the following line if you don't need support for RTL (right-to-left) labels:
    //mapboxgl.setRTLTextPlugin('https://cdn.maptiler.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.1.2/mapbox-gl-rtl-text.js');
    var map = new mapboxgl.Map({
      container: 'map',
      style: "https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json",
      center:  [-74.5, 40],
      zoom: 1.28,
      boxZoom:true
    });

    map.on('load', function () {

        map.addSource('my-data', {
        type: 'vector',
        url:"{{ url_for('geo.tilejson_metadata',layer=layer_name) }}",
        });
        map.addLayer(
           { 'type':'circle', 'source': 'my-data', 'id':'{{ layer_name }}_pt',  'source-layer' :'{{ layer_name }}',
             'filter': ['==', '$type', 'Point']
         });

        map.addLayer(
           { 'type':'fill', 'source': 'my-data', 'id':'{{ layer_name }}_pg',  'source-layer' :'{{ layer_name }}',
             'filter': ['==', '$type', 'Polygon'],
            'paint': {
            'fill-color': '#088',
            'fill-opacity': 0.8
            }
         });

        map.addLayer(
           { 'type':'line', 'source': 'my-data', 'id':'{{ layer_name }}_ln',  'source-layer' :'{{ layer_name }}',
             'filter': ['==', '$type', 'LineString'],
            'paint': {
            'line-color': '#088', 'line-width': 2.5
            }
         });  //TODO voir si c'est posslble de le faire avec 1 seul layer : soit avec un style qui filtre tout seul, soit en détectant le type de geom (mais si mutligeom ?)

    });

    map.on('sourcedata', function(e){ //Déclenché 3 fois et un peu n'importe quand..
        if (e.isSourceLoaded && e.sourceId=='my-data'){
            console.log(map.getSource('my-data').bounds );
            map.fitBounds(map.getSource('my-data').bounds);
        }
    });


    function popup(e){
        var coordinates = e.features[0].geometry.coordinates.slice();
        var html='<ul>';
        $.each( e.features[0].properties, function(k, v){
                html+='<li><b>'+k+'</b> : '+v+'</li>'
         });
        html+='</ul>'
        new mapboxgl.Popup()
        .setLngLat(e.lngLat)
        .setHTML(html)
        .addTo(map);
    }

    map.on('click', '{{ layer_name }}_ln', function (e) {
        popup(e);
    });
    map.on('click', '{{ layer_name }}_pg', function (e) {
        popup(e);
    });
    map.on('click', '{{ layer_name }}_pt', function (e) {
        popup(e);
    });

    map.on('mouseenter', '{{ layer_name }}_ln', function () {
        map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', '{{ layer_name }}_ln', function () {
        map.getCanvas().style.cursor = '';
    });

    map.on('mouseenter', '{{ layer_name }}_pg', function () {
        map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', '{{ layer_name }}_pg', function () {
        map.getCanvas().style.cursor = '';
    });

    map.on('mouseenter', '{{ layer_name }}_pt', function () {
        map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', '{{ layer_name }}_pt', function () {
        map.getCanvas().style.cursor = '';
    });
  </script>

</body>


</html>
